.toolbar {
  height: 60px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: #003791;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 16px;
}

.toolbar a {
  margin: 0 16px;
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 50px;
  flex-direction: column;
}

button {
  width: 100%;
}
