<div class="toolbar" role="banner">
  <a [routerLink]="['']">
    <img width="40" alt="PlayStation Logo" src="../assets/PlayStation_logo.svg" aria-label="Return to home"
      title="Home">
  </a>
  <span>PLAYSTATION GAME DATABASE</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">

  <router-outlet></router-outlet>

  <footer style="margin-top: 10px;">
    <div class="container" fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="50%">
        <button mat-raised-button [routerLink]="['/add']" aria-label="Add a new game">Add a new game</button>
      </div>

      <div fxFlex="50%">
        <button mat-raised-button [routerLink]="['/view']" aria-label="View games">View games</button>
      </div>
    </div>
  </footer>
</div>
