.red {
  height: 200px;
  background-color: #DF0024;
}

.yellow {
  height: 200px;
  background-color: #F3C300;
}


.green {
  height: 200px;
  background-color: #00AC9F;
}


.blue {
  height: 200px;
  background-color: #2E6DB4;
}
